@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bacon Home Page";
}

@model GradeFormModel;

<div class="p-5 text-center bg-secondary">
    <h1 class="mb-3">Tanner Bacon</h1>
    <h4 class="mb-3">Mission 4</h4>
    <a class="btn btn-primary" asp-controller="Razor" asp-action="GradeForm" role="button">Go to Grade Calculator</a>
</div>

<div class="p-5 text-center bg-light">
    <img src="img/Ischia-Italy.jpg" width="400" />
    <p>
        I hope to become an enterprise app wizard in this class. This includes learning <br />
        how to learn a new language and framework since I will inevitably have to do <br />
        that again with several other tech stacks in the future. I did the cs142 route <br />
        so I am excited to learn another strongly typed language and work with C# and <br />
        hopefully remember some of the things I learned about C++.
    </p>
</div>
<div class="p-5 text-center bg-secondary">
    <h2>When I graduate, I would like to become...</h2>
    <ul>
        <li>A Cloud Engineer</li>
        <li>An ethical hacker</li>
        <li>A freelance web/mobile app developer</li>
    </ul>
</div>

